@model OnlineStoreApp_1.Models.UrunViewModel


@{
    ViewData["Title"] = "Urunler";
}
<div class="text-center">
    <h1 class="display-4">Urun Sayfası</h1>
    <div>@Model.Adi</div>
    <div>@Model.Adet</div>
    <div>@Model.Fiyat</div>
</div>
